*{
    padding: 0px;
    margin: 0px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:  rgba(201, 216, 243,1) ;
}
header{
    width: 100%;
    height: 70px;
    border: 1px solid black;
    border-left: none;
    border-right: none;
    background: linear-gradient(180deg, rgba(100,149,237,1) 0%, rgba(51,105,232,1) 100%);
    background-image: url('./../img/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 4px 4px rgb(49, 49, 49, 0.3);
    flex-wrap: wrap;
}
header img {
    height: 100%;
    margin-left: 20px;
}
header h1{
    display: inline-block;
    margin-left: 10px;
    text-shadow: 5px 5px 5px #1a0808;
    color: rgb(249, 188, 6);
}
header h3{
    text-shadow: 5px 5px 5px #1a0808;
    color: rgb(249, 188, 6);
}
#bienvenida{
    display: inline-block;
    margin-left: auto;
}
#rol{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}
nav{
    width: 100%;
    min-height: 40px;
    border: 1px solid black;
    background: linear-gradient(180deg, rgb(106, 149, 223) 0%, rgb(255, 255, 255) 100%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 10px 4px 4px rgb(49, 49, 49, 0.3);
    flex-wrap: wrap;
    border-left: none;
    border-right: none;
}
nav h3, h4{
    margin: 10px;
    display: inline-block;
    height: 100%;
}
nav h4{
    cursor: pointer;
}
nav h4:hover{
    color: blue;
}
#salir{
    margin-left: auto;
}
#curso{
    width: 95%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#curso div{
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 10px 4px 4px rgb(49, 49, 49, 0.3);
    margin: 20px;
}
#curso div:hover{
    box-shadow: 10px 4px 4px rgb(49, 49, 49, 0.5);
}
    #curso_tarjeta{
        width: 300px;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgb(241, 229, 255) ;
    }
    #curso_tarjeta img{
        width: 250px;
        height: 250px;
        border: 1px solid black;
        background-color: rgb(145, 59, 249) ;
        padding: 20px;
        box-sizing: border-box;
    }
    #curso_tarjeta h2{
        margin: 20px;
    }
    #curso_tarjeta h4.disponible{
        font-weight: normal;
        background-color: rgb(139, 255, 139);
        width: 50%;
        height: 20px;
        text-align: center;
        border-radius: 10px;
        border: 1px solid green;
    }
    #curso_tarjeta h4.proximamente{
        font-weight: normal;
        background-color: rgb(245, 255, 139);
        width: 50%;
        height: 20px;
        text-align: center;
        border-radius: 10px;
        border: 1px solid yellow;
    }
    #curso_info{
        width: 800px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        padding: 20px;
        box-sizing: border-box;
        overflow: auto;
        background-color: white;
    }
    #curso_info span{
        font-weight: bold;
    }
    #curso_info pre{
        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: pre-wrap;       /* Since CSS 2.1 */
        white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
        white-space: -pre-wrap;      /* Opera 4-6 */
        white-space: -o-pre-wrap;    /* Opera 7 */
        word-wrap: break-word;       /* Internet Explorer 5.5+ */
    }
#unidades{
    width: 95%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
    #unidades > div{
        margin: 20px;
        border: 1px solid black;
        box-shadow: 10px 4px 4px rgb(49, 49, 49, 0.3);
        flex-wrap: wrap;
        border-radius: 10px;
    }
    #listado_unidades{
        width: 30%;
        background-color: rgb(215, 220, 250);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 10px;
        box-sizing: border-box;
    }
    #listado_unidades details {
        width: 90%;
      }
    #listado_unidades summary {
        cursor: pointer;
        width: 100%;
        font-weight: bold;
      }
    #listado_unidades summary::-webkit-details-marker {
        display: none;
      }
      #listado_unidades summary:hover {
        text-decoration: underline;
      }
    #listado_unidades h1{
        margin: 10px;
    }
    #listado_unidades ol{
        margin: 10px;
        width: 90%;
    }
    #listado_unidades li{
        margin: 10px;
        width: 90%;
    }
    #listado_unidades li:hover{
        cursor: pointer;
        text-decoration: underline;
    }
    
    #visualizar_unidades{
        width: 60%;
        min-height: 500px;
        background-color: rgb(241, 243, 254);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    #visualizar_unidades iframe {
        width: 100%;
        height: 500px;
        border-radius: 10px;
    }
    #visualizar_unidades h1 {
        width: 70%;
        background-color: white;
        border-radius: 10px;
        margin: 20px;
        font-style: italic;
        padding: 10px;
        border: 1px solid grey;
    }
    #visualizar_unidades h2 {
        width: 30%;
        background-color: white;
        border-radius: 10px;
        margin: 20px;
        font-style: italic;
        padding: 10px;
        border: 1px solid grey;
    }
    #visualizar_unidades img{
        width: 200px;
        height: 200px;
        border-radius: 10px;
    }
#bibliografias{
    width: 95%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
    .libro{
        width: 250px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 20px;
        cursor: pointer;
    }
    .libro:hover{
        text-decoration: underline;
    }
    .libro div{
        background-image: url('https://emojitool.com/img/facebook/4.0/closed-book-4012.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 90%;
        height: 90%;
        box-sizing: border-box;
    }
    .libro img{
        width: 142px;
        height: 185px;
        margin-left: 25% ;
        margin-top: 4%;
    }
    .libro h4{
        height: 10%;
    }
#calificaciones{
    width: 95%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
    #calificaciones h1{
        margin: 20px;
    }
    #calificaciones table{
        width: 90%;
        margin: 20px;
        border: 1px solid black;
        border-spacing: 0;
        border-collapse: collapse;
    }
    #calificaciones th{
        background-color: #7bbbfb;
        border: 1px solid black;
    }
    #calificaciones tr{
        height: 50px;
    }
    #calificaciones td{
        text-align: center;
    }
    #tabla_calificacion{
        width: 25%;
    }
    #tabla_fecha{
        width: 25%;
    }
    #tabla_evaluacion{
        width: 50%;
    }
    #calificaciones table tbody tr:nth-child(odd) {
        background: #ffe0e0;
    }
    #calificaciones table tbody tr:nth-child(even) {
        background: #f0effd;
    }
    .ind_calificacion{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: rgba(150, 254, 150, 0.5);
        border: 1px solid green;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .cal_rojo{
        background-color: rgb(255, 146, 146);
        border: 1px solid red;
    }
    .cal_amarillo{
        background-color: rgb(224, 255, 146);
        border: 1px solid rgb(171, 171, 2);
    }
    .cal_verde{
        background-color: rgba(150, 254, 150, 0.5);
        border: 1px solid green;
    }
#recursos{
    width: 95%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
 #recursos h1{
        margin: 20px;
    }
    #recursos table{
        width: 70%;
        margin: 20px;
        border: 1px solid black;
        border-spacing: 0;
        border-collapse: collapse;
    }
    #recursos th{
        background-color: #7bbbfb;
        border: 1px solid black;
    }
    #recursos tr{
        height: 50px;
    }
    #recursos td{
        text-align: center;
    }
    #tabla_nombre_descarga{
        width: 50%;
    }
    #tabla_descarga{
        width: 50%;
    }
    #recursos table tbody tr:nth-child(odd) {
        background: #ffe0e0;
    }
    #recursos table tbody tr:nth-child(even) {
        background: #f0effd;
    }
#estudiantes{
    width: 95%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
    #estudiantes table{
        width: 90%;
        margin: 20px;
        border: 1px solid black;
        border-spacing: 0;
        border-collapse: collapse;
    }
    #estudiantes th{
        background-color: #7bbbfb;
        border: 1px solid black;
    }
    #estudiantes tr{
        height: 50px;
    }
    #estudiantes td{
        text-align: center;
    }
    #estudiantes .link{
        cursor: pointer;
        text-decoration: underline;
    }
    #estudiantes .link:hover{
        cursor: pointer;
        text-decoration: underline;
        color: gray;
    }
    #estudiantes table tbody tr:nth-child(odd) {
        background: #ffe0e0;
    }
    #estudiantes table tbody tr:nth-child(even) {
        background: #f0effd;
    }
footer{
    margin: 10px; 
}
footer p{
    display: inline;
    margin: 0px 10px;
}

